body {
    background-color: slategray;
}

.field {
    background-color: whitesmoke;
    height: 10em;
    width: 30%;
    margin: 0.5em;
}

.hidden {
    visibility: hidden;
}

.centered {
    text-align: center;
}

.upper-third {
    margin-top: 5em;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: large;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.btn-dark {
    background-color: #555555;
    font-size: medium;
    border-radius: 8px;
    padding: 1.2em;
    box-shadow: none;
}
.btn-light {
    background-color: antiquewhite;
}
.btn-dark:hover {
    background-color: gray;
}

#microphone_container {
    height: 3em;
}
.align-horizontal {
    flex-direction: row;
}
.container {
    height: 3em;
}
.sheet {
    background: white;
    margin: 2em;
}
.download {
    float: right;
    text-decoration: none;
    color: black;
    margin-right: 2em;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
}
.float-left {
    float: left;
}
.simple-padding {
    padding: 1em;
}